<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">
    <h3><%= page %></h3><br>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <p>Welcome to our media aggregation demo, below you can find a curated collection of popular new and media articles.</p>
            <p>Please select the media source you would like to browse below.</p>
            <form action="/" method="post">
                <select name="list" id="list">
                    <option value="twitter">Twitter</option>
                    <option value="nytimes">New York Times</option>
                    <option value="youtube">YouTube</option>
                    <option value="spotify">Spotify</option>
                </select>
                <input type="submit" class="ghost-button" value="Submit">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <h3><%- video1 %></h3>
        <h3><%- video2 %></h3>
        <h3><%- video3 %></h3>
        <h3><%- video4 %></h3>
        <h3><%- video5 %></h3>
        <h3><%- video6 %></h3>
        <h3><%- video7 %></h3>
        <h3><%- video8 %></h3>
        <h3><%- video9 %></h3>
    </div>
</div>
</body>
<% include partials/script %>
</html>